<header>
	<mat-toolbar color="primary" class="mat-elevation-z6">
		<span>{{title}}</span>
	</mat-toolbar>
</header>

<main>
	<div class="content-container">
		<router-outlet></router-outlet>
	</div>
</main>

<footer fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
	<div class="footer-center">
		В арчебота встроен код из Мишани.
		<br>
		*быстро говорю условия, как в рекламе на радио*
		<br>
		<a target="_blank" rel="noreferrer" href="https://github.com/archlinux-ru-bot/archbot-blackhole">Исходный код сайта</a>
	</div>
</footer>
